dialog.creature-card-modal-dialog {
    border-radius: 24px;
    div.creature-card-wrapper {
        height: 100%;
        display: flex;
        position: relative;
        transition: left 0.2s ease-in-out;
    }
}

@media screen and (max-width: 768px) {
    dialog.creature-card-modal-dialog {
        overflow-x: auto !important;
        scroll-snap-coordinate: 0 0;
        scroll-snap-points-x: repeat(100%);
        scroll-snap-type: block mandatory;
        scrollbar-width: none;
    }
}
