dialog.creature-card-modal-dialog {
    border-radius: 24px;
    div.creature-card-wrapper {
        height: 100%;
        display: flex;
        position: relative;
    }
}

@media screen and (max-width: 768px) {
    dialog.creature-card-modal-dialog {
        overflow-x: auto !important;
        // scroll-snap-coordinate: 0 0;
        // scroll-snap-points-x: repeat(100%);
        scroll-snap-type: x mandatory;
        -ms-overflow-style: none; /* Internet Explorer 10+ */
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }
    }
}
