div.content {
    width: 80vh;
    border-radius: 20px 0 0 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 20px;
    > div.tab-buttons {
        height: 3rem;
        display: flex;
        gap: 16px;
        padding: 4px;
    }
    > div.tab-content {
        height: 100%;
    }
}
