button.tab-button {
  flex: 1;
  border-radius: 12px;
  height: 100%;
  text-transform: uppercase;
  font-weight: bold;
  &.selected {
    background-color: var(--fg);
    color: var(--bg);
  }
  &:not(.selected):hover {
    background-color: var(--color-grey);
    color: var(--bg);
  }
}
