@import "@/mixins.scss";

div.quiz-view {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    overflow: hidden;
    > div.quiz-image-container {
        flex: 7;
        position: relative;
        > div.quiz-creature-image {
            @include background-image-component;
            background-color: transparent;
            position: absolute;
            top: 16px;
            left: 16px;
            right: 16px;
            bottom: 16px;
            pointer-events: none;
        }
    }
    > div.quiz-text {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        > div.quiz-text-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            > h2 {
                margin-block: 0;
                margin-top: 24px;
                font-size: var(--font-size-xxlarge);
                color: var(--bg);
            }
            > input.answer-input {
                color: var(--fg);
                border: 1px solid var(--color-medium-grey);
                background: var(--color-light-grey);
                border-radius: 4px;
                font-size: var(--font-size-xlarge);
                margin: 8px auto 24px;
                text-align: center;
                padding: 8px 12px;
                max-width: 50vw;
                &:focus-visible {
                    outline: none;
                }
            }
        }
    }

    div.answer-review-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 24px;
        div.message {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 8px;
            h2 {
                margin-block-start: 0;
                margin-block-end: 4px;
            }
            img {
                height: 5rem;
            }
        }
        div.buttons-container {
            display: flex;
            justify-content: center;
            gap: 12px;
        }
    }
}

@media screen and (max-width: 768px) {
    div.quiz-view {
        > div.quiz-text {
            > div.quiz-text-content {
                > h2 {
                    font-size: var(--font-size-xlarge);
                }
                > input.answer-input {
                    max-width: 80vw;
                }
                > button.check-button {
                    min-width: -webkit-fill-available;
                }
            }
        }
    }
}
