@import "@/mixins.scss";

div.illustration-container {
    flex: 1;
    display: flex;
    margin: 4px;
    div.illustration {
        @include background-image-component;
        flex: 1;
        background-size: cover;
        border-radius: 20px;
    }
}
