div.join {
    display: flex;
    flex-direction: column;
    height: 100%;
    > div.content {
        flex: 1;
        display: flex;
        overflow: hidden;
        position: relative;
        > div:global(.join-content-step) {
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: absolute;
            top: 0;
            transition: left ease-in-out 0.4s;
            padding: 1px;
        }
    }
}
