div.explanation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > div.content {
        margin-bottom: 36px;
        > img.logo {
            width: 70%;
        }
        > div.logo-and-text-line {
            display: flex;
            align-items: center;
            gap: 24px;
            margin-bottom: 8px;
            > img.section-logo {
                width: 100px;
            }
            > p {
                text-align: left;
            }
        }
    }
}
