div.home-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100dvh;
    padding: 24px 0 0;
    gap: 0;
    position: relative;
    > img.logo {
        max-width: 200px;
        width: 50%;
        margin: auto;
    }
    > div.options-container {
        margin: 0 auto;
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        flex: 1;
        overflow-x: hidden;
        > div.option-container {
            display: flex;
            width: 100%;
            min-height: 220px;
            position: relative;
            transition: margin-left 0.4s ease-in-out;
            overflow-x: auto;
            scroll-snap-type: x mandatory;
            -ms-overflow-style: none; /* Internet Explorer 10+ */
            scrollbar-width: none; /* Firefox */
            &::-webkit-scrollbar {
                display: none; /* Safari and Chrome */
            }
            > div.option-content {
                display: flex;
                position: absolute;
                transition:
                    left 0.4s ease-in-out,
                    right 0.4s ease-in-out;
                div.undercover {
                    display: block;
                    width: 50px;
                    background-color: var(--color-logo-light);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &.reverse {
                        background-color: var(--bg);
                        right: 0;
                        left: unset;
                        border-top: solid 2px var(--color-logo-light);
                        border-bottom: solid 2px var(--color-logo-light);
                    }
                }
            }
            &:nth-child(odd) {
                direction: rtl;
                > div.option-content {
                    left: -50px;
                }
            }
            &:nth-child(even) {
                > div.option-content {
                    right: -50px;
                }
            }
        }
    }
}

// Safari doesn't handle dvh so need to replace by vh
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-hyphens: none) {
            div.home {
                min-height: 100vh;
                > div.options-container {
                    height: 100vh;
                }
            }
        }
    }
}
