div.home-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100dvh;
    padding: 24px 0 0;
    gap: 0;
    position: relative;
    > img.logo {
        max-width: 200px;
        width: 50%;
        margin: auto;
    }
    > div.options-container {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        gap: 24px;
        flex: 1;
        > div.option-container {
            // flex: 1;
            display: flex;
            // flex-direction: column;
            // flex: unset;
            // flex-direction: row;
            width: 100%;
            position: relative;
            > div.undercover {
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 50px;
                background-color: var(--color-logo-light);
                z-index: -1;
                display: flex;
                align-items: center;
                justify-content: center;
                &.reverse {
                    background-color: var(--bg);
                    right: 0;
                    left: unset;
                    border-top: solid 2px var(--color-logo-light);
                    border-bottom: solid 2px var(--color-logo-light);
                }
            }
            > div.placeholder {
                transition: width 0.4s ease-in-out;
                align-self: stretch;
                background-color: transparent;
                &:nth-child(odd) {
                    border-top: solid 2px var(--color-logo-light);
                    border-bottom: solid 2px var(--color-logo-light);
                }
            }
            &:nth-child(odd) {
                align-items: flex-end;
            }
            &:nth-child(even) {
                align-items: flex-start;
                justify-content: flex-end;
            }
        }
    }
}

// Safari doesn't handle dvh so need to replace by vh
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-hyphens: none) {
            div.home {
                min-height: 100vh;
                > div.options-container {
                    height: 100vh;
                }
            }
        }
    }
}
