div.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    > img.logo {
        width: 70%;
        max-width: 200px;
        position: absolute;
        top: 24px;
        left: 24px;
    }
    > div.options-container {
        margin: auto;
        height: 100%;
        width: calc(100% - 48px);
        display: flex;
        justify-content: center;
        gap: 60px;
        > div.option-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            > div.placeholder {
                flex: 1;
            }
            &:nth-child(odd) {
                align-items: flex-end;
            }
            &:nth-child(even) {
                align-items: flex-start;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    div.home {
        > img.logo {
            position: relative;
            top: unset;
            left: unset;
            margin: auto;
        }
        > div.options-container {
            flex-direction: column;
            height: unset;
            width: 100%;
            gap: 24px;
            > div.option-container {
                flex: unset;
                flex-direction: row;
                width: 80%;
                > div.placeholder {
                    flex: unset;
                }
                &:nth-child(even) {
                    margin-left: auto;
                }
            }
        }
    }
}

// Safari doesn't handle dvh so need to replace by vh
@media screen and (-webkit-min-device-pixel-ratio: 0) {
    @media not all and (min-resolution: 0.001dpcm) {
        @supports (-webkit-hyphens: none) {
            div.home {
                height: 100vh;
            }
        }
    }
}
