@import "@/mixins.scss";

a.home-option {
    flex: 1;
    width: 80%;
    max-width: 500px;
    padding: 24px;
    box-sizing: border-box;
    > h2 {
        text-transform: uppercase;
        font-size: var(--font-size-xxlarge);
        margin-block: 0;
        margin-block-end: 24px;
    }
    > p {
        margin-block: 0;
        margin-block-end: 24px;
        font-size: var(--font-size-xlarge);
    }
    &:nth-child(even) {
        border: solid 2px var(--color-logo-light);
        border-radius: 30% 30% 0 0;
        border-bottom: none;
    }
    &:nth-child(odd) {
        background-color: var(--color-logo-light);
        border-radius: 0 0 30% 30%;
    }
    div.image-container {
        @include background-image-component;
        background-color: transparent;
        width: 50%;
        height: 30vh;
        margin: auto;
        margin-bottom: 48px;
    }
    div.expandable {
        transition: height 0.4s ease-in-out;
    }
}

@media screen and (max-width: 768px) {
    a.home-option {
        padding: 12px;
        width: unset;
        max-width: 80vw;
        > h2 {
            font-size: var(--font-size-xlarge);
            margin-block-end: 12px;
        }
        > p {
            font-size: var(--font-size-large);
            margin-block-end: 12px;
        }
        div.image-container {
            margin-bottom: 4px;
            height: 14vh;
        }
        &:nth-child(even) {
            border: solid 2px var(--color-logo-light);
            border-left: none;
            border-radius: 0 30% 30% 0;
        }
        &:nth-child(odd) {
            border-radius: 30% 0 0 30%;
        }
    }
}
