@import "./colors.scss";

html {
    scroll-behavior: smooth;
    background-color: var(--bg);
    font-family: Calibri;
}

.app-container {
    text-align: center;
    margin: 0 auto;
    font-family: Calibri;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .flex-column {
        display: flex;
        flex-direction: column;
    }

    .align-items-center {
        align-items: center;
    }

    .justify-content-center {
        justify-content: center;
    }

    .flex-1 {
        flex: 1;
    }

    a {
        color: var(--fg);
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0;
    }
}

span.small-grey-text {
    color: var(--color-grey);
    font-size: var(--font-size-small);
}

span.grey-text {
    color: var(--color-grey);
}

span.bold-text {
    font-weight: bold;
}

button {
    outline: none;
    border: 0;
    background: none;
    &:not(:disabled) {
        cursor: pointer;
    }
    &:focus-visible {
        outline: none;
    }
}
