@import "./colors.scss";

html {
    scroll-behavior: smooth;
    background-color: var(--bg);
    font-family: Calibri;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container {
    text-align: center;
    margin: 0 auto;
    font-family: Calibri;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;

    a {
        color: var(--fg);
        text-decoration: none;
    }

    ul {
        list-style-type: none;
        padding-inline-start: 0;
    }

    button {
        outline: none;
        border: 0;
        background: none;
        &:not(:disabled) {
            cursor: pointer;
        }
        &:focus-visible {
            outline: none;
        }
    }
}
