:root {
    --bg: rgb(255, 255, 255);
    --fg: #2f0601;
    --color-grey: #676767;
    --color-medium-grey: #dbdbdb;
    --color-light-grey: #f0f1f0;
    --color-warning: #f79d65;
    --color-error: #f25c54;
    --color-toast-success: #5da271; // not used in CSS but keep as reference
    --color-logo-light: #feefc6;

    // FONT SIZE
    --font-size-small: 12px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-size-xlarge: 24px;
    --font-size-xxlarge: 36px;
}
